<%- contentFor('body') %>

    <a href="/admin/add-product">new</a>
 
    <% if (prods.length> 0) { %>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% for (let product of prods) { %>
                <div class="col">
                    <div class="card">
                        <img src="/<%= product.imageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <p class="card-text"><%= product.description %></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$<%= product.price %></li>
                        </ul>    
                        <div class="card-body">
                            
                            <a href="/admin/edit-product/<%=product.id%>?edit=true" class="btn btn-secondary">Edit</a>
                            
                            <form action="/admin/delete-product" method="POST" data-turbo="false">
                                <%- _csrfForm %>
                                <input type="hidden" value="<%=product.id%>" name="productId">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>