<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>


    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


    <!--MAIN-->
    <link rel="stylesheet" href="/public/css/app.css">

    <!--ANIMATED-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


    <!--TURBO-->
    <script type="module">
        //import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
        import * as turbo from 'https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.0.0-beta.4/dist/turbo.es2017-esm.js'
        document.addEventListener("turbo:before-cache", function () {
            //console.log('alow');
        });

        document.addEventListener("turbo:load", function() {
        });
        
        let $spinner = document.querySelector('.has-spinner');

        document.addEventListener('turbo:submit-start', function () {
            turbo.navigator.delegate.adapter.showProgressBar();
            if($spinner) { $spinner.classList.toggle('active'); $spinner.setAttribute("disabled", true); }
        });

        document.addEventListener('turbo:submit-end', function () {
            console.log('acabous');
            if($spinner) { $spinner.classList.toggle('active'); $spinner.removeAttribute("disabled"); }
        });

        
    </script>
    <%- style %>
    <%- meta %>
</head>

<body>
    <%- include('includes/navigation'); %>

    <main class="container mt-4 animate__animated animate__fadeIn animate__faster">

        <% if(flash) { %>
            <% if(flash.success && flash.success.length> 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= flash.success[0]%>
                </div>
            <% } else if(flash.error && flash.error.length> 0) { %>
                <div class="alert alert-danger" role="alert">
                    <% for (let errorMsg of flash.error) { %>
                        <%=errorMsg%>
                        <!-- <hr> -->
                    <% } %>
                </div>
            <% } %>
        <% } %>


        <%- body %>
    </main>

    <footer>

    </footer>
     <%- script %>
</body>

</html>