<%- contentFor('body') %>

<ion-list>
    <ion-item>
        <ion-label>
            <strong>Categories</strong>
        </ion-label>
        <ion-note slot="end">
            <ion-button href="/categories/new">Add Category</ion-button>
        </ion-note>
    </ion-item>
    <% for (let category of categories) { %>

        <ion-item>
            <ion-label>
                <%= category.title %>
            </ion-label>
            <ion-note slot="end">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-button size="small" color="secondary" href="/categories/<%= category.id %>/edit">Edit
                        </ion-col>
                        <ion-col>
                            <form method="POST" action="/categories/<%= category.id %>?_method=DELETE">
                                <%- _csrfForm %>
                                    <ion-button size="small" color="danger" type="submit">Delete</ion-button>
                            </form>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                </ion-button>

            </ion-note>
        </ion-item>
        <% } %>
</ion-list>
<script>

</script>