<%- contentFor('body') %>
    <meta name="turbo-visit-control" content="reload">
    <style>
        .scheduling {
            display: flex;
            justify-content: space-between;
        }
    </style>

    <div class="scheduling">
        <article class="card product-item">
            <header class="card__header">
                <p class="centered">Serviço selecionado:</p>
                <h1 class="product__title">
                    <%= product.title %>
                </h1>
            </header>
            <div class="card__image">
                <img src="/<%= product.imageUrl %>" alt="A Book">
            </div>
            <div class="card__content">
                <p class="product__description">
                    <%= product.description %>
                </p>
            </div>
        </article>
        <aside>
            <div class="card product-item centered">
                <div class="card__content">
                    <h2>Faça o agendamento:</h2>
                    <form action="/calendar" method="POST">
                        <%- _csrfForm %>

                            <div class="form-control">
                                <label for="description">Dia</label>
                                <input type="date" name="date">
                            </div>

                            <div class="form-control">
                                <label for="description">Horário</label>
                                <input type="time" name="time">
                            </div>

                            <div class="form-control">
                                <h2 class="product__price">Preço: R$<%= product.price %>
                                </h2>
                            </div>

                            <input type="hidden" name="productId" value="<%= product.id %>">
                    </form>

                </div>
            </div>
        </aside>
    </div>


    <div>
        <script src="https://js.stripe.com/v3/"></script>
        <button id="order-btn" class="btn">Pagar</button>
        <script>
            let stripe = Stripe('pk_test_51IGx4PGemRLi8D4AY7rUj9NQ17e2Z4jDPRju9IUh6gF781yAWBQlYp5SrJcOg6sFMGcNJn9p8xP9E5rlZCZC4NQF00UIHB9qFD');
            const orderBtn = document.getElementById('order-btn');
            orderBtn.addEventListener('click', () => {
                stripe.redirectToCheckout({
                    sessionId: '<%= sessionId %>'
                });
            });
        </script>
    </div>