<%- contentFor('body') %>

    <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
        <a class="btn btn-sm btn-outline-primary mb-2 mb-md-0"
            href="/admin/add-product"
            title="View and edit this file on GitHub" target="_blank" rel="noopener">New Product</a>
        <h1 class="bd-title" id="content">Products</h1>
    </div>
    <hr class="mb-4">


    <% if (prods.length> 0) { %>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% for (let product of prods) { %>
                <div class="col">
                    <div class="card">
                        <img src="<%= product.imageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= product.title %>
                            </h5>
                            <p class="card-text">
                                <%= product.description %>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$<%= product.price %>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a class="card-link" href="/products/<%= product.id %>">Details</a>
                            <a class="card-link" href="/calendar/<%= product.id %>">Calendar</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <% } else { %>
            <h1>No Products Found!</h1>
            <% } %>